config/*

!config/nvim
config/nvim/lazy-lock.json


!config/zsh
config/zsh/.zcompdump
!config/starship
!config/sheldon
!config/thefuck
config/thefuck/__pycache__

!config/hypr
!config/sway
!config/waybar
!config/swaylock
!config/wofi
!config/mako
!config/fcitx
!config/fcitx5

!config/wezterm
!config/kitty
!config/alacritty

!config/gh
config/gh/hosts.yml

.DS_store

